<template>
  <div id="console-window">
    <div id="console-top-bar">
      <div style="text-align:left">TestServer</div>
      <div>{{statusMessage}}</div>
      <div id="status-icon-container">
        <div :class="`status-icon status-${this.status}`"></div>
      </div>
    </div>
    <div id="console">
        <div class="console-line" v-for="line in consoleLines" :key="line.lineNumber">{{line.lineNumber}}:  {{line.message}}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ConsoleStream',
  props: {
    consoleLines: Array,
    status: String
  },
  data () {
    return {
    }
  },
  computed: {
    statusMessage() {
       if (this.status === 'starting') {
        return 'Fahre hoch...'
      } else if (this.status === 'started') {
        return 'Läuft'
      } else if (this.status === 'stopping') {
        return 'Fahre herunter...'
      } else if (this.status === 'stopped') {
        return 'Gestoppt'
      } else {
        return 'Kein Status'
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    #console-window {
        display: inline-block;
        width: 60%;
    }

    #console-top-bar {
      background: lightgray;
      border-radius: .5em .5em 0 0;
      display: flex;
      padding: .2em 1em;
      font-weight: bold;
    }

    #console-top-bar > div {
      flex: 1 1 0;
    }

    #status-icon-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .status-icon {
      height: .7em;
      width: .7em;
      display: inline-block;
      border-radius: 1.5em;
    }

    .status-starting, .status-stopping {
      background: #ecb81d;
    }

    .status-stopped {
      background: tomato;
    }

    .status-started {
      background: yellowgreen;
    }

    .status-undefined {
      background: gray;
    }

    #console {
        background: #333;
        height: 300px;
        overflow: auto;
        text-align: left;
        border-radius: 0 0 .5em .5em;
        padding: .6em;
        scroll-behavior: smooth;
    }

    .console-line {
        font-family: 'Lucida Console', Monaco, monospace;
        color: white;
        font-size: 13px;
        margin-bottom: .2em;
    }

    button {
        margin: 20px;
    }
</style>
