<template>
  <div class="background">
    <div id="button-container">
          <button id="start" @click="startServer">Start</button>
          <button id="stop" @click="stopServer">Stop</button>
    </div>
    <ConsoleStream :consoleLines="serverMessages" :status="serverStatus"/>
    <input id="copy-box" onClick="this.select();" :value="serverAddress" readonly/>
  </div>
</template>

<script>
import ConsoleStream from '../ConsoleStream.vue'

export default {
  name: 'Index',
  components: {
    ConsoleStream
  },
  data () {
    return {
      serverMessages: [],
      serverStatus: 'undefined',
      serverPort: undefined
    }
  },
  mounted() {
    this.$socket.emit('getPort')
  },
  computed: {
    serverAddress() {
      if (this.serverPort && this.serverStatus === 'started') {
        return `leonschreiber.dyn-berlin.de:${this.serverPort}`
      } else {
        return 'Server läuft gerade nicht'
      }
    }
  },
  methods: {
    startServer () {
      this.serverMessages = []
      this.$socket.emit('startServer')
      this.serverStatus = 'starting'
    },
    stopServer () {
      this.serverMessages = []
      this.$socket.emit('stopServer')
      this.serverStatus = 'stopping'
      this.serverPort = undefined
    }
  },
  sockets: {
    message(msg) {
      console.log(`Socket event 'message': ${msg}`)

      this.serverMessages.push({
        message: msg,
        lineNumber: this.serverMessages.length + 1
      })

      const consoleDiv = document.getElementById('console')
      consoleDiv.scrollTop = consoleDiv.scrollHeight
    },
    port(p) {
      console.log(p)
      this.serverPort = p
    },
    serverStarted() {
      this.serverStatus = 'started'
    },
    serverStopped() {
      this.serverStatus = 'stopped'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .background {
      background-image: url(background.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    button {
      margin: 1.3em 1em;
      padding: .2em 1.5em;
    }

    #button-container {
      display: flex;
    }

    #start {
        max-width: 8em;
        background-image: linear-gradient(#007b00, darkgreen);
        transition-duration: 0.1s;
        border-color: #007b00;
        border-width: 0.1em;
        border-radius: 8px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: xx-large;
        color: blanchedalmond;
    }

    #start:hover {
        background-image: linear-gradient(#007b00,#005d00);
    }

    #stop {
        max-width: 8em;
        background-image: linear-gradient(#666666, #464646);
        transition-duration: 0.1s;
        border-color: #262626;
        border-width: 0.1em;
        border-radius: 8px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: xx-large;
        color: blanchedalmond;
    }

    #stop:hover {
        background-image: linear-gradient(#2c2c2c,#232423);
    }

    #copy-box {
      margin: 2em;
      background: white;
      padding: 1em;
      border-radius: 4px;
      font-size: 1.1rem;
      width: 270px;
      text-align: center;
    }
</style>
